.menu {
	width: 100%;
	height: auto;
}

span {
	display: inline-block;
}

.itemContainer {
	margin: 0 auto;
}

.item {
	-webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
	margin: 64px;
	border-radius: 32px;
}

.item:hover {
	animation-name: up;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
.item:active {
	animation-name: down;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}

.item img {
	width: 128px;
	height: 128px;
	margin: 32px;
	object-fit: scale-down;
	border-radius: 64px;
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.item h2 {
	display: flex;
	height: 35px;
}

.name {
	width: 70%;
	font-size: 32px;
	vertical-align:middle;
	text-align: left;
	padding-left: 1%;
	color: var(--dark)
}

.price {
	width: 30%;
	font-size: 64px;
	vertical-align:middle;
	text-align: center;
	color: var(--dark);
}


@keyframes up {
	from {
		transform: translateY(0px);
		box-shadow: black 0 0;
		box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.5);
	}
	to {
		transform: translateY(-8px);
		box-shadow: black 0 8px;
		box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0);
	}
}

@keyframes down {
	from {
		transform: translateY(-8px);
		box-shadow: black 0 8px;
		box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0);
		color: var(--secondary);
		background-color: var(--white);
	}
	to {
		transform: translateY(8px);
		box-shadow: black 0 -8px;
		box-shadow: 0 0 10px 1px rgba(0, 0, 0, 1);
		color: var(--black);
		background-color: var(--secondary);
	}
}